* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-dbox-sizing: border-box;
}

body {
  background-color: rgb(30, 110, 175);
  margin: 0;
}

.title {
  font-size: 82px;
  font-family: "Source Sans Pro", Helvetiva, Arial, sans-serif;
  color: rgb(45, 28, 48);
  text-align: center;
  margin-top:  20px;
}

.title .b {
  color: rgb(99, 60, 26);
}

.beaverbird {
  max-width: 731px;
  margin: 0 auto;
}

.beaverbird img {
  max-width: 100%;
  height: auto;
}

.tagline {
  font-size: 46px;
  font-family: "Source Sans Pro", Helvetiva, Arial, sans-serif;
  color: rgb(34, 28, 52);
  text-shadow: 1px 1px rgb(84, 186, 202);
  background-color: rgba(34, 167, 187, 0.6);
  text-align: center;
  margin-top:  20px;
}

.section.intro {
  margin: 80px auto 0 auto;
  padding: 12px;
  width: 820px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;

  background-color: rgba(227, 247, 247, 0.93);
  border-radius: 4px;
  border: 2px solid rgb(36, 88, 109);
  /*box-shadow: 2px 3px rgb(56, 56, 56);*/
}

.section.bullet {
  margin: 16px auto 0 auto;
  /*padding: 6px; */
  width: 460px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 34px;
  text-align: center;
  color: rgb(21, 34, 88);

  background-color: rgb(53, 161, 136);
  border-radius: 12px;
  border: 1px solid rgb(22, 95, 56);
  /*box-shadow: 2px 3px rgb(56, 56, 56);*/
}

.heading {
  margin: 80px auto 0 auto;
  padding: 6px;
  /*width: 720px;*/
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgb(33, 43, 99);
  font-size: 44px;
  text-align: center;

  background-color: rgb(99, 173, 205);
}

.section.text {
  margin: 80px auto 0 auto;
  padding: 6px;
  width: 720px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: rgba(227, 247, 247, 0.93);
  border-radius: 2px;
  box-shadow: 2px 3px rgb(56, 56, 56);
}

.section.text a {
  text-decoration: none;
  color: rgb(57, 117, 181);
}

.section.text a:hover {
  color: rgb(29, 97, 156);
}

.section.text p {
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 0;
}

.section.text em {
  font-size: 26px;
  color: rgb(23, 46, 65);
}

.section.code {
  margin: 80px auto 0 auto;
  padding: 6px;
  max-width: 720px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 2px 3px rgb(56, 56, 56);
  overflow: scroll;
}

.footer {
  margin-top: 60px;
  padding: 10px 40px;
  height: 80px;
  border-top: 2px solid rgb(56, 56, 56);
  background-color: rgb(44, 129, 79);
}

.footer .items {
  margin: 0 auto;
  height: 60px;
}

.footer .items div {
  width: 60px;
  line-height: 60px;
  text-align: center;

  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  color: rgb(214, 214, 214);
}

.footer .items div a {
  text-decoration: none;
  color: rgb(214, 214, 242);
}

.footer .items div a:hover {
  text-decoration: none;
  color: rgb(205, 176, 91);
}

@media (max-width: 720px) {

.title {
  font-size: 62px;
}

.tagline {
  font-size: 28px;
}

}

@media (max-width: 920px) {

.section {
  max-width: 90%;
}

}
